﻿@model Core_Almacen.Models.Almacen

@{
    ViewData["Title"] = "Detail";
}

<h1>DETALLES</h1>

<div>
    <h4>Almacen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Llegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Llegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caducidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caducidad)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Empid }) |
    <a asp-action="Index">Regresar al inicio</a>
</div>
